csr-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:accounts-api="http://www.mulesoft.org/schema/mule/accounts-api" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/accounts-api http://www.mulesoft.org/schema/mule/accounts-api/current/mule-accounts-api.xsd">
	<sub-flow name="log-at-exit" doc:id="a3e3806c-77d3-42b8-a324-a0c264480cd3" >
		<logger level="INFO" doc:name="Last Mule Message" doc:id="f563ac7f-f5ae-404f-9046-bded35359da7" />
	</sub-flow>
	<sub-flow name="log-set-user-id" doc:id="361daaed-246d-4201-a445-e3ef9ac98b83" >
		<logger level="INFO" doc:name="First Mule Message" doc:id="736a8603-0a3e-413d-b57e-92c63198f784" />
		<set-variable value="#[message.attributes.headers.csr_user_id]" doc:name="userId" doc:id="5839cc95-a471-4aca-8ff3-3ae5c192a68b" variableName="userId" />
	</sub-flow>
	<flow name="csr-accountsFlow" doc:id="8d18980c-6031-4403-822b-baaf843423f5" >
		<http:request method="GET" doc:name="Request" doc:id="9593beac-9fbf-4732-8f1d-674929ef7e63" config-ref="Accounts_HTTP_Request_configuration" path="/get-transactions-by-id"/>
		<flow-ref doc:name="Flow Reference" doc:id="204164ef-a7b0-4e49-8566-52a3ce7a5b2f" name="log-set-user-id"/>
		<set-variable value="#[attributes.queryParams.cname]" doc:name="accountName" doc:id="6eaffb37-fe8f-48e1-bb45-77b57669053d" variableName="accountName" />
	</flow>
	<flow name="get-accounts-by-name" doc:id="93a0cf08-e882-465c-a067-d2ba2a2ddd3e" >
		<http:listener doc:name="GET /accounts-by-name" doc:id="c93d60c1-f539-4c9d-8952-082067610093" config-ref="HTTP_Listener_config" path="/accounts-by-name" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: sizeOf(payload as Array),
	account_name: vars.accountName,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="log-set-user-id" doc:id="1340bcd8-75bf-4634-80d8-af0b60881d82" name="log-set-user-id" />
		<set-variable value="#[attributes.queryParams.cname]" doc:name="accountName" doc:id="00185fa3-84b0-427f-95be-4851925ed2b0" variableName="accountName"/>
		<accounts-api:get-accounts doc:name="Get accounts by name" doc:id="340b8fb0-7baa-4051-9896-812990c37831" config-ref="Accounts_API_Config" user-id="#[vars.userId]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" account-name="#[vars.accountName]"/>
		<flow-ref doc:name="log-at-exit" doc:id="bd13f1f4-14f8-4c88-bc54-17d1f3406fca" name="log-at-exit" />
	</flow>
	<flow name="get-accounts-by-type" doc:id="3aac5ba3-c77f-4370-b943-cf1a7b88d09c" >
		<http:listener doc:name="GET /accounts-by-type" doc:id="ef15cd80-d288-4e40-b986-cbb1c353e24c" config-ref="HTTP_Listener_config" path="/accounts-by-type" allowedMethods="GET" >
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: sizeOf(payload as Array),
	account_type: vars.accountType,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="log-set-user-id" doc:id="d7d99378-37cb-4c52-b451-133e042128c9" name="log-set-user-id" />
		<set-variable value='#[attributes.queryParams.ctype default "business"]' doc:name="accountType" doc:id="4546a542-018c-4693-88ca-cfebc7cc885d" variableName="accountType" />
		<accounts-api:get-accounts doc:name="Get accounts by type" doc:id="6082ddc0-4ada-4cbc-9db5-fbd43a02dd0d" config-ref="Accounts_API_Config" user-id="#[vars.userId]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" account-type="#[vars.accountType]"/>
		<flow-ref doc:name="log-at-exit" doc:id="de46373a-e00e-4d4c-afa8-809b4539ba49" name="log-at-exit" />
	</flow>
	<flow name="post-accounts" doc:id="41d42109-e572-47c6-88cd-35eb786503c1" >
		<http:listener doc:name="POST /accounts" doc:id="95baa9bb-870e-4107-8333-f76437575748" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="POST">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: vars.accountsNumber,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="log-set-user-id" doc:id="a9b50248-5c13-4fad-b3df-f7398efe6c4b" name="log-set-user-id" />
		<set-variable value="#[sizeOf(payload)]" doc:name="accountsNumber" doc:id="4fb26af1-42ec-4133-907c-ec3b293074c0" variableName="accountsNumber"/>
		<vm:publish doc:id="77459481-c033-4076-8033-ad41a437af6e" doc:name="csr_input_queue" config-ref="CSR_VM_Config" queueName="${vm.queue}">
			<vm:content ><![CDATA[#[output application/json
---
{
	user_id: vars.userId,
	accounts: payload
}]]]></vm:content>
		</vm:publish>
		<ee:transform doc:name="Transform Message" doc:id="f4ca3657-6ba0-4dd3-bd70-76630627b5a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Accounts submitted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="log-at-exit" doc:id="dcf2880e-5e0f-4808-b6f4-5ab528ce55eb" name="log-at-exit" />
	</flow>
	<flow name="read-csr-input-queue" doc:id="0f5819d7-4128-4ba0-a2b8-b8113ef21e1f" >
		<vm:listener queueName="${vm.queue}" doc:name="csr-input-queue" doc:id="deb4e272-f805-48b7-a0d0-a0a7682ef897" config-ref="CSR_VM_Config"/>
		<logger level="INFO" doc:name="First Mule Message" doc:id="dbff0d93-4602-4b04-aa3e-4856c21ad0bd" />
		<accounts-api:create-account doc:name="Create account" doc:id="4d6fb774-a4d3-450d-b703-b5082c72d268" config-ref="Accounts_API_Config" user-id="#[payload.user_id]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}">
			<accounts-api:create-account-request-data ><![CDATA[#[payload.accounts]]]></accounts-api:create-account-request-data>
		</accounts-api:create-account>
		<flow-ref doc:name="log-at-exit" doc:id="2420ee92-503c-49cf-ab4b-75c37f21b985" name="log-at-exit" />
	</flow>
</mule>
