csr-trn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="09c0756e-94b0-4043-85c0-3a86f030b8f2" >
		<wsc:connection wsdlLocation="http://apdev-accounts-ws.cloudhub.io/api/transactions?wsdl" service="TransactionServiceService" port="TransactionServicePort" address="http://apdev-accounts-ws.cloudhub.io/api/transactions"/>
	</wsc:config>
	<flow name="csr-trn" doc:id="de42fdd9-e1d3-4543-b920-544edef61822" >
		<http:listener doc:name="get-acc-by-id" doc:id="6f613491-9687-4fb0-92f7-27f1feab09fa" config-ref="HTTP_Listener_config" path="/accounts/{id}/transactions" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	number_of_transactions: vars.txNumber,
	account_id: vars.accountId,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="2f906c1c-de98-41aa-890e-3f17ff41f15d" name="log-set-user-id" />
		<set-variable value="#[attributes.queryParams.id]" doc:name="GetID" doc:id="cccd643c-749f-48f8-bbcc-6fdfbcbd0227" variableName="accountName" />
		<ee:transform doc:name="Post: accountID" doc:id="778c3c37-cef3-41f6-949a-c26831432fd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://training.mulesoft.com/
---
{
	ns0#GetTransactionsforCustomers: {
		customerID: vars.userID as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get-trn-info" doc:id="dc21ad1c-7571-4e3f-998f-15c8b5af5fe7" config-ref="Web_Service_Consumer_Config" operation="GetTransactionsforCustomers"/>
		<set-variable value="#[sizeOf(payload..*transaction default [])]" doc:name="trn-count" doc:id="b8157737-d2c1-4ebb-8c76-8e860b605c1b" variableName="trn-count"/>
		<ee:transform doc:name="Transform Message" doc:id="12fff6ec-35bd-48e8-9535-ecea9b5eb7bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
